.one-answer{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
}

.one-answer .user-info{
    width: 100%;
    height: 50px;
}

.one-answer-content  p{
    margin: 15px;
}

.one-answer .user-info .user-img{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 5px;
}
.one-answer .user-info .user-img img{
    width: 100%;
    height: 100%;
}

.one-answer .user-info .user-name{
    display: inline-block;
    position: relative;
    top: -3px;
    height: 50px;
    padding: 0;
    margin: 0;
}

/* tag */
.tag{
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
}

.tag-blue{
    background-color: #F2F3FB!important;
    color: #828FDD!important;
}

.tag-orange{
    background-color: #FAF8F3!important;
    color:#e6b259!important;
}




