 .content-title,
 .recommend-content-title {
   font-size: large;
   font-weight: bold;
   margin-bottom: 5px;
 }

 .read-all {
   color: blue;
 }


 .article-card {
   width: 95%;
   background-color: skyblue;
   padding-left: 20px;
   overflow: hidden;
 }

 .article-card .article-rank-box {
   float: left;
   width: 50px;
   height: 50px;
   background-color: fff;
   text-align: center;
 }

 .article-rank {
   margin: 0 auto;
   font-size: large;
   font-weight: bold;
   line-height: 50px;
   color: black;
 }


 .article-card .article-content {
   width: 600px;
   height: 150px;
   margin-top: 10px;
   float: left;
   /* background-color: red; */
 }

 .article-card .article-content-without-img {
   width: 700px;
 }

 .article-card .article-content .article-content-main {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
 }

 .img-box {
   width: 180px;
   height: 130px;
   margin-top: 20px;
   margin-right: 20px;
   /* background-color: yellow; */
 }

 .article-card-link {
   display: inline-block;
   color: gray;
   margin-right: 20px;
 }

 .article-bottom {
   margin-top: 5px;
   width: 500px;
   height: 30px;
   display: block;
   margin-bottom: 5px;
 }

 .article-card-link:hover {
   color: blue;
 }




 /* 关注 */

 .article-card .recommend-article-content {
   width: 750px;
   height: 150px;
   margin-top: 10px;
   overflow: hidden;
   /* background-color: red; */
 }

 .article-card .recommend-article-content-without-img {
   width: 800px;
  overflow: hidden;
 }

 .article-card .recommend-article-content .recommend-article-content-main {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 4;
 }

 .article-card .recommend-article-bottom {
   display: block;
   width: 800px;
   height: 50px;
 }

 /* tag */
 .article-tag {
   display: inline-block;
   text-align: center;
   border-radius: 10px;
   height: 30px;
   line-height: 25px;
   background-color: #E5EFFF;
   color: #0066FF;
   margin-right: 6px;
   padding: 1px 10px;

 }

 .article-tag:hover {
   background-color: #D9E8FF;
 }

 /* title */
 .main-article-title {
   font-size: larger;
   font-weight: bold;
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left: 10px;
 }


 .article-bottom-box {
   padding-bottom: 5px;
   line-height: 40px;
   height: 50px;
 }

 .article-bottom-link {
   display: inline-block;
   height: 40px;
   margin-left: 10px;
 }

 .article-maincontainer {
   margin: 0 auto;
   width: 96%;
 }
