* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


hr{
  color: grey;
}

.clearfix {
  clear: both;
}

.flex{
  display: flex;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.relative{
  position: relative!important;
}

.absolute{
  position: absolute!important;
}

.can-tap {
  cursor: pointer;
}

.wrap-line2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.wrap-line4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}



code {
  background-color: rgba(243, 214, 214, 0.733);
}


.foucs-button {
  background-color: #0066ff !important;
  color: white !important;
  border: 1px solid #0066ff !important;
  margin-left: 5px;
  margin-right: 5px;
}

/* 由于引用了CSS库，所以不提高优先级的话会被覆盖掉 */
.write-button {
  background-color: #fff !important;
  color: #0066ff !important;
  border: 1px solid #0066ff !important;
  margin-left: 5px;
  margin-right: 5px;
}

.invite-button {
  background-color: #fff !important;
  color: grey !important;
  border: 1px solid grey !important;
  margin-left: 5px;
  margin-right: 5px;
}

.write-button:hover,
.invite-button:hover {
  background-color: #F0F6FF !important;
}

.foucs-button:hover {
  background-color: #005CE6 !important;
}

/* 颜色 */

.red {
  background-color: rgba(255, 0, 0, 0.801) !important;
}

.white{
  color: white!important;
}

.blue {
  color: skyblue;
}

.orange {
  color: orange !important;
}

/* 普通样式 */

h3 {
  font-size: large;
  font-weight: bold;
}

.text-align{
  text-align: center;
}

/* aside {
    float: right;
    width: 350px;
    height: 900px;
    background-color: skyblue;
} */

nav ul li {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

/* 赞同 */
.agree-box {
  display: inline-block;
  margin-right: 15px;
  height: 30px;
}

.agree-button {
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  min-width: 90px;
  height: 30px;
  line-height: 30px;
  background-color: #E5EFFF;
  color: #0066FF;
}

.disagree-button {
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  width: 40px;
  height: 30px;
  line-height: 30px;
  background-color: #E5EFFF;
  color: #0066FF;
  margin-right: 2px;
}

.agree-button:hover {
  background-color: #D9E8FF;
}

.disagree-button:hover {
  background-color: #D9E8FF;
}

.small {
  font-size: small;
}
.smaller {
  font-size: smaller;
}


/* 照片 */
.img-box img {
  width: 100%;
  height: 100%;
}

.article-card-link {
  letter-spacing: 1px;
}

.text-indent {
  text-indent: 2rem;
}




/* 结束符号：左右小横线 */
.list-end {
  display: block;
  text-align: center;
  color: #999;
}

.list-end:after,
.list-end:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 1px;
  margin: 0 10px;
  vertical-align: middle;
  background-color: #d3d3d3;
}

/* 鼠标样式 */
.canTap {
  cursor: pointer;
}

/* markdown样式 */
.markdown-box-content h1,
.markdown-box-content h2,
.markdown-box-content h3 {
  margin-bottom: 10px;
}
/* 动态渲染的 */
.markdown-box-content>>>p {
  margin: 15px;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  text-indent: 2rem;
}

.markdown-box-content>>>img {
  min-width: 300px !important;
  max-width: 600px !important;
  margin: 0 auto;
  display: block;
}
/* 静态渲染的 */
.markdown-box-content p {
  margin: 15px;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  text-indent: 2rem;
  overflow:auto;
}

.markdown-box-content img {
  min-width: 300px !important;
  max-width: 600px !important;
  margin: 0 auto;
  display: block;
}

.article-card{
  letter-spacing: 1px;
}

.markdown ul{
  list-style: initial;
}