.video-card-box{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
}

.video-card{
    display: inline-block;
    width: 200px;
    margin: 10px 12px;
}

.video-card .video-img-box{
    width: 200px;
    height: 100px;
    overflow: hidden;
}
.video-card .video-img-box img{
    width: 200px;
    height: 100px;
    transition: all 0.5s ;
}
.video-card .video-img-box img:hover{
    /* 放大特效 */
    transform:  scale(1.5,1.5);

}
.video-card .video-content{
    margin-top: -2px;
}
.video-card .content-box{
    display: block;
    width: 200px;
    position: relative;
    top: -21px;
    color: white;
    margin-bottom: 0;
}
.video-card .content-box .description{
    color: black;

}

.video-card .video-card-bottom{
    clear: both;
}

.video-card .video-card-author{
    font-size: small;
    color: grey;
}
.video-card .honor{
    display: inline-block;
    font-size: small;
    color: red;
    text-align: center;
    background-color: #FFF0EA;
}

.video-card .video-bottom{
    margin-top: -10px;
}